div{
    width: 400px;
    background-color: rgb(0 0 0 /12%);
    outline: rgb(0 0 0 /12%) solid 8px;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 24px;
}
.d1{
    border-color: rgb(0 0 0 /10%) rgb(0 0 0 /10%) rgb(0 0 0 /10%) rgb(255 0 97 );
    border-style: solid;
    border-left-width:6px ;
    border-top-width:0 ;
    border-right-width:0 ;
    border-bottom-width:0 ;
}
.d2{
    border-color: rgb(0 0 0 /10%) rgb(0 0 0 /10%) rgb(0 0 0 /10%) black;
    border-style: solid;
    border-left-width:6px ;
    border-top-width:0 ;
    border-right-width:0 ;
    border-bottom-width:0 ;
    visibility: hidden;
}
.d3{
    border-color: rgb(0 0 0 /10%) rgb(0 0 0 /10%) rgb(0 0 0 /10%) #549772;
    border-style: solid;
    border-left-width:6px ;
    border-top-width:0 ;
    border-right-width:0 ;
    border-bottom-width:0 ;
}